body {
  text-align: center;
  h1 {
    color: hsl(210, 10%, 33%);
  }
  span {
    color: hsl(201, 11%, 66%);
  }
}

.section-initial {
  position: relative;
  height: 600px;
  img:first-child {
    width: 100%;
  }
  img:nth-child(2) {
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, -50%);
  }
  &__container {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 45%;
    padding: 0 40px 40px 40px;
  }
}

.info {
  display: flex;
  flex-direction: column;
  padding: 110px 40px 0 40px;
  &__img {
    padding: 50px 0;
  }
  &__icon {
    padding: 30px 0;
    margin: 0 auto;
    width: 50px;
  }
  &__imgLogo {
    padding: 40px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 40px 0;
  background-color: #f5f6f8;
  margin: 60px 0 0 0;
  span {
    color: hsl(210, 10%, 33%);
  }
  &__logo {
    width: 80px;
    margin: 0 auto;
  }
  &__icons {
    display: flex;
    gap: 34px;
    justify-content: center;
    img {
      width: 30px;
    }
  }
}
